.singleCountry {
    text-align: center;
    background-color: hsl(0, 0%, 98%);
    width: auto;
}

.btn {
    padding: 60px 80px;
}

.btnDarkMode {
    background-color: hsl(207, 26%, 17%);
    padding: 60px 80px;
}

.linkBtn {
    text-decoration: none;
}

.btnBack {
    display: flex;
    align-items: center;
    gap: 10px;
    border: 2px solid rgb(233, 231, 231);
    border-radius: 5px;
    padding: 10px 20px;
    background-color: hsl(0, 0%, 100%);
    box-shadow: 1px 1px 5px rgb(233, 231, 231);
    color: hsl(200, 15%, 8%);
    cursor: pointer;
}

.btnBackDarkMode {
    display: flex;
    align-items: center;
    gap: 10px;
    border: 2px solid hsl(212, 22%, 14%);
    border-radius: 5px;
    padding: 10px 20px;
    background-color: hsl(209, 23%, 22%);
    box-shadow: 1px 1px 5px hsl(212, 22%, 14%);
    color:  hsl(0, 0%, 100%);
    cursor: pointer;
}

.gridSkeleton {
    display: flex;
    gap: 110px;
}

.countryDetails {
    padding: 0 80px;
    background-color: hsl(0, 0%, 98%);
    height: 490px;
}

.countryDetailsDarkMode {
    padding: 0 80px;
    background-color: hsl(207, 26%, 17%);
    height: 490px;
}

.singleCountryInfo {
    display: flex;
    gap: 100px;
}

.singleCountryInfoDarkMode {
    display: flex;
    gap: 100px;
    color: hsl(0, 0%, 100%);
}

.typography {
    display: flex;
    text-align: left;
    gap: 100px;
}

.typographyDarkMode {
    display: flex;
    text-align: left;
    gap: 100px;
}

.typography1 {
    display: flex;
    text-align: left;
}

.typographyDarkMode1 {
    display: flex;
    text-align: left;
}

.imageCard {
    width: 600px;
    height: 350px;
    border-radius: 5px;
    border: 15px solid rgb(233, 231, 231);
    box-shadow: 1px 1px 5px rgb(233, 231, 231);
}

.imageCardDarkMode {
    width: 600px;
    height: 350px;
    border-radius: 5px;
    border: 15px solid hsl(207, 26%, 17%);
    box-shadow: 1px 1px 5px hsl(209, 23%, 22%);
}

.countryInfo {
    padding: 23px 0;
}

.countryInfoDarkMode {
    padding: 23px 0;
}

.countryInfoDarkMode p {
    color: rgb(192, 191, 191);
}

.typography {
    padding: 10px;
}

.typography strong {
    color: rgb(65, 65, 65);
  }

.typographyDarkMode {
    padding: 10px;
}

.typographyDarkMode strong{
    color: hsl(0, 0%, 100%);
}

.typography1 {
    padding: 10px;
}

.typography1 strong {
    color: rgb(65, 65, 65);
  }

.typographyDarkMode1 {
    padding: 10px;
}

.typographyDarkMode1 strong{
    color: hsl(0, 0%, 100%);
}

.border {
    display: flex;
    align-items: center;
    margin-left: 5px;
}

.borderDarkMode {
    display: flex;
    align-items: center;
    margin-left: 5px;
}

.btnCountry {
    display: flex;
    align-items: center;
    gap: 10px;
    border: 2px solid rgb(233, 231, 231);
    border-radius: 5px;
    padding: 7px 18px;
    background-color: hsl(0, 0%, 100%);
    box-shadow: 1px 1px 5px rgb(233, 231, 231);
    color: hsl(200, 15%, 8%);
    cursor: pointer;
}

.btnCountryDarkMode {
    display: flex;
    align-items: center;
    gap: 10px;
    border: 2px solid hsl(212, 22%, 14%);
    border-radius: 5px;
    padding: 7px 18px;
    background-color: hsl(209, 23%, 22%);
    box-shadow: 1px 1px 5px hsl(212, 22%, 14%);
    color:  hsl(0, 0%, 100%);
    cursor: pointer;
}